<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="project_form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="projectNameInput">Project Name</label>
          <input
            type="text"
            name="projectNameInput"
            class="form-control"
            formControlName="project_name"
            placeholder="Enter the Project name">
            <span
              *ngIf="!project_form.get('project_name').valid && project_form.get('project_name').touched"
              class="help-block" style="color:red">
              <span *ngIf="project_form.get('project_name').errors!==null">
              <span
              *ngIf="project_form.get('project_name').errors['isForbidden']">{{ project_form.get('project_name').value }} is invalid Project name</span>
              <span
              *ngIf="project_form.get('project_name').errors['required']">Field is required</span>
            </span>
          </span>

        <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="email"
            class="form-control"
            formControlName="email"
            name="emailInput"
            placeholder="Enter email address">
            <span
              *ngIf="!project_form.get('email').valid && project_form.get('email').touched"
              class="help-block" style="color:red">Please enter a valid email address</span>
          </div>
        </div>
        <div class="form-group">
          <select
          name="projectStatusSelector"
          formControlName="project_status"
          class="form-control">
          <option value="stable">Stable</option>
          <option value="cirtical">Cirtical</option>
          <option value="finished">Finished</option>
        </select>
        </div>
        <button
        class="btn btn-primary"
        type="submit">Submit</button>

      </form>
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->
    </div>
  </div>

  <hr>
  <div class="row" *ngIf="is_form_submitted">

    <div class="col-xs-12">
      <h4>Submitted Data</h4>
      <p><span class="post-data">Project Name:</span> {{ form_data.project_name }}</p>
      <p><span class="post-data">Email:</span> {{ form_data.email }}</p>
      <p><span class="post-data">Project Status:</span> {{ form_data.project_status }}</p>

    </div>
  </div>
</div>
